a {
    text-decoration: none;
}

.setings_but {
    color: white;
}

.main-unit {
  display: flex;
  min-height: 80vh;
  width: 70%;
  margin: auto;
  margin-top: 30px;
}

.change-list {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  width: 200px;
  background: #434343;
  border-right: 0;
  border-radius: 20px 20px 20px 20px;
}

.gradient-header {
    background: radial-gradient(ellipse at top right, #BE77C7, #7E4F84);
    color: white;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

#toggleButton {
    width: 70px;
    height: 70px;
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
  }

body {
    background: radial-gradient(ellipse at top right, #555555, #262626);
    min-height: 100vh;
    color: white;
}

.side-block {
    position: fixed;
    top: 100px;
    right: -500px;
    width: 300px;
    height: 300px;
    background-color: #333;
    color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0 0 0 16px;
}

.side-block.active {
    right: 0;
}

#closeButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
}

.profile-header {
    --banner-height: 100px;
    --avatar-size: 70px;
    --spacing: 20px;
    --avatar-border: 3px;

    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.change_but {
    width: 70%;
    text-align: center;
    text: center;
    color: white;
    margin: 5px auto;
    border-radius: 8px;
}

.change_but:hover {
    background: #383838;
}

.banner {
    width: 100%;
    aspect-ratio: 16 / 7;
    position: relative;
    background-color: none;
}

.logo {
    position: absolute;
    width: 100%;
    height: var(--banner-height);
    border-radius: 16px 16px 0 0;
}

.avatar-container {
    position: absolute;
    bottom: calc(var(--avatar-size)/-2 + var(--avatar-border) - 10px);
    left: var(--spacing);
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    background-color: #ddd;
    border: var(--avatar-border) solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: #555;
    box-sizing: border-box;
}

.username {
    margin-bottom: 0px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
}

.form-container {
    background: #434343;
    margin: auto;
    width: 50%;
    max-width: 70%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

.subbut {
    background: radial-gradient(ellipse at top right, #BE77C7, #7E4F84);
    border: 0px;
}

.subbut:hover {
    background: radial-gradient(ellipse at top right, #BA71C1, #7A4A81);
}

.back-but {
    color: white;
    background: #434343;
    border: 0px;
}

.back-but:hover {
    color: white;
    background: #333333;
    border: 0px;
}

.back-but:active {
    color: white;
    background: #333333;
    border: 0px;
}

.text_reg {
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
}

.reg-btn {
    color: #cccccc
}

.reg-btn:hover {
    color: #ffffff
}

.reg-btn:active {
    color: #ffffff
    border: 0px;
}

.edit-inp {
    display: grid; /* Включаем Grid */
    grid-template-columns: repeat(2, 1fr); /* 3 колонки одинаковой ширины */
    grid-template-rows: auto; /* Высота строк подстраивается под контент */
    gap: 10px;
}

.but-sub {
    width: 30%;
}

.profile-header_edit {
    --banner-height_edit: 250px; /* Высота баннера */
    --avatar-size_edit: 100px;
    --spacing_edit: 20px;
    --avatar-border_edit: 3px;

    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.banner_edit {
    width: 100%;
    aspect-ratio: 16 / 7;
    min-height: var(--banner-height_edit);
    position: relative;
    background-color: lightblue;
    border-radius: 16px 16px 0 0;
}

.logo_edit {
    position: absolute;
    width: 100%;
    height: 100%; /* Занимает всю область баннера */
    border-radius: 16px 16px 0 0;
}

.avatar-container_edit {
    position: absolute;
    bottom: calc(var(--avatar-size_edit)/-2 + var(--avatar-border_edit) - 15px);
    left: var(--spacing_edit);
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.avatar_edit {
    width: var(--avatar-size_edit);
    height: var(--avatar-size_edit);
    border-radius: 50%;
    background-color: #ddd;
    border: var(--avatar-border_edit) solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: #555;
    box-sizing: border-box;
}

.username_edit {
    margin-bottom: 0px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background: radial-gradient(ellipse at top right, #BE77C7, #7E4F84);
}